/**
 * SPDX-FileCopyrightText: 2016-2024 Nextcloud GmbH and Nextcloud contributors
 * SPDX-FileCopyrightText: 2014-2015 ownCloud, Inc.
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.section-antivirus .spoiler{
	display:none;
	width:100%;
	margin-top: 14px;
}

.section-antivirus table td:first-child {
	text-align: right;
	padding-right: 6px;
	padding-left: 6px;
}

.section-antivirus table input,
.section-antivirus table select{
	display: inline-block;
	width: 100%;
	padding-left: 6px;
}

.section-antivirus table input[type="checkbox"] {
	width: 18px;
	height: 18px;
}

.section-antivirus table td:last-child {
	padding-right: 6px;
	padding-left: 6px;
}

.section-antivirus .a-left{
	text-align: left;
}

.shaded{
	opacity: .3;
}

.section-antivirus .spoiler{
	position: relative;
}

#antivirus-buttons{
	width: 100%;
	margin-left:10px;
	text-align:right;
}

#antivirus-add{
	margin:	10px;
	padding-left: 21px;
	background-position: 3px 50%;
}

.section-antivirus h3{
	padding: 7px 0;
}

#antivirus_save_msg {
	padding: 5px;
	border-radius: 5px;
}
