<?xml version="1.0" encoding="utf-8" ?>
<!--
   - SPDX-FileCopyrightText: 2022 Nextcloud GmbH and Nextcloud contributors
   - SPDX-FileCopyrightText: 2014-2016 ownCloud, Inc.
   - SPDX-License-Identifier: AGPL-3.0-only
-->
<phpunit bootstrap="bootstrap.php"
		 verbose="true"
		 convertDeprecationsToExceptions="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		>
	<testsuite name='ownCloud - AntiVirus App Tests'>
		<directory suffix='Test.php'>.</directory>
	</testsuite>
	<!-- filters for code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">../../files_antivirus</directory>
			<exclude>
				<directory suffix=".php">../../files_antivirus/l10n</directory>
				<directory suffix=".php">../../files_antivirus/tests</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<!-- and this is where your report will be written -->
		<log type="coverage-clover" target="./clover.xml"/>
	</logging>
</phpunit>

