<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php"
		 verbose="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		>
	<testsuite name='ownCloud - AntiVirus App Tests'>
		<directory suffix='test.php'>.</directory>
	</testsuite>
	<!-- filters for code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">../../files_antivirus</directory>
			<exclude>
				<directory suffix=".php">../../files_antivirus/l10n</directory>
				<directory suffix=".php">../../files_antivirus/tests</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<!-- and this is where your report will be written -->
		<log type="coverage-clover" target="./clover.xml"/>
	</logging>
</phpunit>

